<div style='background-color: midnightblue; color: #FFB500; font-family: Arial, Helvetica, sans-serif; height: 80%; text-align: center; margin: 10px; border: 6px solid #FFB500; padding: 10px'>

<h1><%= @game.loser.name %> loses!</h1>

<img src="https://i.pinimg.com/originals/78/2e/14/782e14812ffe7557defc806f458d5773.png">

<form action="/">
  <input type="submit" value="Start again" style='color: midnightblue; height: 40px; font-size: 18px; background-color: #FFB500; width: 200px; border: 1px solid  #FFB500'>
</form>
</div>